<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>No uzi - 高校学者发现系统</title>
        <meta name="description" content="lancio, business, launch, app, product, template, design, modern, elegant" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords"  content="lancio, food, launch, app, product, template, design, modern, elegant" />
        <meta name="Resource-type" content="Document" />
        
        <!-- Upload Font "https://fonts.google.com/" -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <!-- Styles CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/az-styles.css" />
        <!-- Load Font Awesome Kit -->
        <script src="https://kit.fontawesome.com/747940bb1c.js"></script>
        <!-- Load Animate CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/animate.css">
        <!-- Load AOS CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/aos.css">
        <!-- Slick Slider CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/slick.css">
        <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css">
        
    </head>
    <body class="white">
        
        <!-- Main Content Starts -->
        <header class="b-green">
            <div class="container"> 
                <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Change path logo here -->
                  <a class="navbar-brand logo" href="#"><img src="../static/assets/img/logo.png" alt="Exodus" class="img-fluid"></a>
                   
                  <!-- Collapse button -->
                  <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="animated-icon"><span></span><span></span><span></span></span>
                  </button>
                  <!-- Collapsible content -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#search">搜索</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login_v1.html">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login_v1.html">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">联系我们</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link " href="#testimonial"><i class="far fa-envelope"></i></a>
                        </li>
                    </ul>
                  </div>
                </nav>
             </div>
        </header>
        
        <!-- Section -->
        <div id="home" class="white"> 
            <div class="content center">
                <!-- SLIDER-->
                <!-- Carousel Container -->
                <div class="slider-container">
                    <div id="slide-item" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Slider Navigation -->
                            <ol class="carousel-indicators">
                                <li data-target="#slide-item" data-slide-to="0" class="active white"></li>
                                <li data-target="#slide-item" data-slide-to="1" class="white"></li>
                                <li data-target="#slide-item" data-slide-to="2" class="white" ></li>
                            </ol>
                            <!-- 第1个滑动页面 -->
                            <div class="carousel-item">
                               <div class="img-container slide three">  
                                    <div class="content-box">
                                        <div class="content-data">
                                            <h5 class="t-white">高校学者发现系统</h5>
                                            <span class="line white"></span>
                                            <div class="display t-white" data-aos="fade-down" data-aos-anchor-placement="center-bottom">最新 <strong> 科研 </strong>资讯</div>
                                            <a href="#promo" data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="primary-btn light-blue large t-dark-clay"> 立 即 体 验 </a>
                                        </div>
                                    </div>
                                   <div class="gradient-overlay op-5"></div>
                                </div>
                            </div>
                            <!-- 第2个滑动页面 -->
                            <div class="carousel-item active">
                               <div class="img-container slide five">  
                                    <div class="content-box">
                                        <div class="content-data">
                                            <h5 class="t-white">高校学者发现系统</h5>
                                            <span class="line white"></span>
                                           <div class="display t-white" data-aos="fade-down" data-aos-anchor-placement="center-bottom">丰富的 <strong>国内外 </strong> 学者库</div>
                                            <a href="#search" data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="primary-btn no-bg large border-2 b-white t-white"> 点 击 检 索 </a>
                                        </div>
                                    </div>
                                   <div class="gradient-overlay op-5"></div>
                                </div>
                            </div>
                            
                            <!-- 第3个滑动页面 -->
                            <div class="carousel-item">
                               <div class="img-container slide two">  
                                    <div class="content-box">
                                        <div class="content-data">
                                            <h5 class="t-white">高校学者发现系统</h5>
                                            <span class="line white"></span>
                                             <div class="display t-white" data-aos="fade-down" data-aos-anchor-placement="center-bottom">支持 <strong> 姓名</strong> 检索</div>
                                            <a href="#promo" data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="primary-btn light-blue large t-dark-clay"> 即 刻 体 验  </a>
                                        </div>
                                    </div>
                                   <div class="gradient-overlay op-5"></div>
                                </div>
                            </div>
                            
                            

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Section Ends -->
        

        <!-- Section -->
        <!-- Promo Slider -->
        <!-- 图片滑块 -->
        <div id="promo" class="section white"> 
            <div class="container"> 
                <div class="content center">
                    
                    <h5 class="t-black">高校学者发现系统</h5>
                    <span class="line green"></span>
                    <h2 class="t-black" >国内<span class="t-green">知名</span>学者</h2>
                    <h6>科学无捷径，创新无止境！</h6>
                
                    <div class="mt-50">  
                        <section class="promo-slider slider">
                            
                            <!-- Promo Item 南山 -->
                            <div class="promo-item">
                                <a href="promo-detail.html" class="link-item">
                                    <div class="hover-link">
                                        <span class="primary-btn large black t-green">查看更多</span>
                                    </div>
                                    <div class="promo green">
                                        <span class="t-white">著名呼吸病专家</span>
                                    </div>
                                    <div class="title">
                                        <h5 class="t-green">中国工程院院士</h5>
                                        <span class="line"></span>
                                        <h3 class="t-white">钟南山</h3>
                                    </div>
                                </a>
                                <div class="image"><div class="hover"></div><img src="../static/assets/img/promo/nanshan.jpg" alt="Exodus" class="img-fluid"></div>
                            </div>
                            
                            <!-- Promo Item 振宁 -->
                            <div class="promo-item">
                                <a href="promo-detail.html" class="link-item">
                                    <div class="hover-link">
                                        <span class="primary-btn large black t-snow">查看更多</span>
                                    </div>
                                    <div class="title">
                                        <h5 class="t-green">诺贝尔物理学奖</h5>
                                        <span class="line"></span>
                                        <h3 class="t-white">杨振宁</h3>
                                    </div>
                                </a>
                                <div class="image"><div class="hover"></div><img src="../static/assets/img/promo/zhenning.jpeg" alt="Exodus" class="img-fluid"></div>
                            </div>
                            
                            <!-- Promo Item 兰娟 -->
                            <div class="promo-item">
                                <a href="promo-detail.html" class="link-item">
                                    <div class="hover-link">
                                        <span class="primary-btn large black t-snow">查看更多</span>
                                    </div>
                                    <div class="title">
                                        <h5 class="t-green">工程院院士</h5>
                                        <span class="line"></span>
                                        <h3 class="t-white">李兰娟</h3>
                                    </div>
                                </a>
                                <div class="image"><div class="hover"></div><img src="../static/assets/img/promo/lanjuan.jpeg" alt="Exodus" class="img-fluid"></div>
                            </div>
                            
                            <!-- Promo Item 屠呦呦-->
                            <div class="promo-item">
                                <a href="promo-detail.html" class="link-item">
                                    <div class="hover-link">
                                        <span class="primary-btn large black t-green">查看更多</span>
                                    </div>
                                    <div class="promo green">
                                        <span class="t-white">诺贝尔奖获得者</span>
                                    </div>
                                    <div class="title">
                                        <h5 class="t-green">发现青蒿素</h5>
                                        <span class="line"></span>
                                        <h3 class="t-white">屠呦呦</h3>
                                    </div>
                                </a>
                                <div class="image"><div class="hover"></div><img src="../static/assets/img/promo/youyou.jpg" alt="Exodus" class="img-fluid"></div>
                            </div>

                            <!-- Promo Item 文宏 -->
                            <div class="promo-item">
                                <a href="promo-detail.html" class="link-item">
                                    <div class="hover-link">
                                        <span class="primary-btn large black t-snow">查看更多</span>
                                    </div>
                                    <div class="title">
                                        <h5 class="t-green">复旦大学感染科教授</h5>
                                        <span class="line"></span>
                                        <h3 class="t-white">张文宏</h3>
                                    </div>
                                </a>
                                <div class="image"><div class="hover"></div><img src="../static/assets/img/promo/wenhong.jpg" alt="Exodus" class="img-fluid"></div>
                            </div>
                            
                            
                            
                            
                            
                        </section>
                        <div class="center"><a href="promo-page.html" class="mt-50 primary-btn large no-bg border-2 b-black t-black">点击查看更多</a></div>
                    </div>
                </div>
            </div>
        </div><!-- Section Ends -->
        
        <!-- 输入框 -->
        <!-- Section -->
        <div id="search" class="section back four"> 
            <div class="container center"> 
                <div class="banner white square">
                    <h5 class="t-green">no uzi</h5>
                    <span class="line black"></span>
                    <h2 class="t-black" >高校学者<span class="t-green"> 发现 </span> 系统</h2>
                    <!-- 选择框 -->
                    <h6 class="center">
                        <form action="form_action1.asp" method="get">
                            <input type="radio" name="id" style="height:15px;width:15px;" checked value="专业"> 专 业 
                            <input type="radio" name="id" style="height:15px;width:15px;" value="学校"> 学 校 
                            <input type="radio" name="id" style="height:15px;width:15px;" value="姓名"> 姓 名 
                        </form>
                    </h6>
                    <div id="fields">
                        <!-- 输入框-->
                        <!-- CONTACT Form-->

                        <form id="contact-form" method="get" action="form_action2.asp">
                            <div id="note" class="messages t-dark"></div>
                            <div class="controls center newsletter"> 
                                <!-- form-group-->
                                <div class="form-group">
                                    <div class="input-item form-group">
                                        <input type="text"  name="major" class="form-control light-grey" placeholder="请在这里输入想要查找的内容*" required="required">
                                    <!--此处强行跳转到页面search-->
                                    <a href="search_v1.html">
                                        <input type="submit" name="submit" id="submit1" class="primary-btn large square-bl square-tl black t-snow" value="搜索" onclick="test()">
                                    </a>
                                </div>
                            </div>
                        </form><!-- END CONTACT Form-->

                        <!-- CONTACT Form-->
                        <form action="form_action22.asp" method="get">
                            <div id="note" class="messages t-dark"></div>
                            <div class="controls center newsletter">
                                
                                <!-- form-group-->
                                <div class="form-group">
                                    <div class="input-item form-group">
                                        <input type="text"  name="fname" class="form-control light-grey" placeholder="请在这里输入想要查找的内容*" required="required" >
                                    <!--此处强行跳转到页面search-->
                                    <a href="search_v1.html">
                                        <input type="submit" name="submit" id="submit" class="primary-btn large square-bl square-tl black t-snow" value="搜索" onclick="test()">
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </form><!-- END CONTACT Form-->

                    </div>
                </div>
                <!-- 去掉了三个好看的图标，以后再搞
                    <h5 class="t-black mt-100">stay connected</h5>
                    <span class="line green "></span>
                    <div class="social-container m-20 center">
                        <a href="" class="primary-btn white icon t-green"><i class="fab fa-facebook-square"></i></a>
                        <a href="" class="primary-btn white icon t-green"><i class="fab fa-instagram"></i></a>
                        <a href="" class="primary-btn white icon t-green"><i class="fab fa-linkedin"></i></a>
                    </div>
                -->
            </div>
        </div><!-- Section Ends -->

        <!-- 视频背景介绍栏目，不搞先 
        <div id="about" class="section video"> 
                <div class="container"> 
                    <div class="content center">
                        <h5 class="t-white">THE AGENCY</h5>
                        <span class="line green"></span>
                        <h2 class="t-white">Discovering the <span class="t-green">World</span></h2>
                        <h6 class="t-white paragraph">Passionate about travel and sharing the world's wonders on the leisure travel side. We provide corporate travelers hi-touch services to facilitate their business travel needs. Named each year as one of the <span class="t-green">"Best Places To Work"</span> in New York.</h6>

                        <a href="about-page.html" class="mt-30 primary-btn large white t-black"><i class="fas fa-video"></i> View our showreel</a>
                    </div>
                </div>
      
            插入视频背景
            <div class="video-back">
                <div class="color-overlay op-7"></div>
                <video autoplay loop muted>
                    <source src="assets/video/wave.mp4" type="video/mp4">
                </video>
            </div>
          

        </div>
        Section Ends -->

        <!-- Section 广告位招租 
        <div class="section white"> 
            <div class="container" id="posts"> 
                <div class="content center">
                    
                    <h5 class="t-black">THE BLOG</h5>
                    <span class="line green"></span>
                    <h2 class="t-black">Latest from the <span class="t-green">Blog</span></h2>
                    <div class="row text-justify mt-50">
                        
                        <div class="col-lg-4 left" >
                            <div class="post-item">
                                <img src="assets/img/ft-1.jpg" alt="exodus" class="img-fluid main">
                                <a href="blog-detail.html"><h4 class="t-black">Discovering Mikonos</h4></a>
                                <div class="info-box-detail left">
                                    <div class="post-info">By: <a class="author t-green">Angela Manscori</a></div>
                                    <div class="post-views">
                                        <img src="assets/img/user1.jpg" alt="exodus" class="img-fluid">
                                        <img src="assets/img/user2.jpg" alt="exodus" class="img-fluid">
                                        <img src="assets/img/user3.jpg" alt="exodus" class="img-fluid">
                                        <span class="count">+110</span>
                                    </div>
                                </div>
                            </div>
                        </div> End
                        
                         Info Box 
                        <div class="col-lg-4 left" >
                            <div class="post-item">
                                <img src="assets/img/ft-2.jpg" alt="exodus" class="img-fluid main">
                                <a href="blog-detail.html"><h4 class="t-black">The Island of Vulcano</h4></a>
                                <div class="info-box-detail left">
                                    <div class="post-info">By: <a class="author t-green">Nissur Al Bettur</a></div>
                                    <div class="post-views">
                                        <img src="assets/img/user1.jpg" alt="exodus" class="img-fluid">
                                        <img src="assets/img/user2.jpg" alt="exodus" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div> End 
                        
                         Info Box 
                        <div class="col-lg-4 left" >
                            <div class="post-item">
                                <img src="assets/img/ft-3.jpg" alt="exodus" class="img-fluid main">
                                <a href="blog-detail.html"><h4 class="t-black">Cathedral in the Sea</h4></a>
                                <div class="info-box-detail left">
                                    <div class="post-info">By: <a class="author t-green">Jesus A. Barrero</a></div>
                                    <div class="post-views">
                                        <img src="assets/img/user1.jpg" alt="exodus" class="img-fluid">
                                        <img src="assets/img/user2.jpg" alt="exodus" class="img-fluid">
                                        <img src="assets/img/user3.jpg" alt="exodus" class="img-fluid">
                                        <span class="count">+234</span>
                                    </div>
                                </div>
                            </div>
                        </div> End 
                        
                    </div>
                </div>
            </div>
        </div>Section Ends 
        

        <div class="container"><div class="break-line green op-3"></div></div>
        -->
        
        <!-- 这里是团队展示 -->
        <!-- Section -->
        <div id="testimonial" class="section white "> 
            <div class="container center"> 
                <h5 class="t-black">NO UZI</h5>
                <span class="line green"></span>
                <h2 class="t-black" ><span class="t-green">团队</span>展示:</h2>
                
                <!-- TESTIMONIALS -->
                <div class="testimonial-container">
                    <div id="t-item" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#t-item" data-slide-to="0" class="active green"></li>
                            <li data-target="#t-item" data-slide-to="1" class="green"></li>
                            <li data-target="#t-item" data-slide-to="2" class="green"></li>
                            <li data-target="#t-item" data-slide-to="3" class="green"></li>
                            <li data-target="#t-item" data-slide-to="4" class="green"></li>
                        </ol>
                        <div class="carousel-inner content">
            
                            <!-- Testimonial Item -->
                            <div class="carousel-item active"> 
                                <div class="item">  
                                    <div class="img center"><img src="../static/assets/img/xintong.jpg" alt="Exodus" class="img-fluid"></div>
                                    <h6 class="text t-black">项目经理</h6>
                                    <div class="name t-black">王 心 童</div>
                                    <div class="role t-dark-clay">较冷静，规划能力较强，技术强</div>
                                </div>
                            </div>
                            
                            <!-- Testimonial Item -->
                            <div class="carousel-item"> 
                                <div class="item">
                                    <div class="img center"><img src="../static/assets/img/jinyu.jpg" alt="Exodus" class="img-fluid"></div>
                                    <h6 class="text t-black">技术总监</h6>
                                    <div class="name t-black">刘 今 禹</div>
                                    <div class="role t-dark-clay">学习能力强，不畏难，善于解决难题，技术强</div>
                                </div>
                            </div>
                            
                            <!-- Testimonial Item -->
                            <div class="carousel-item"> 
                                <div class="item ">
                                    <div class="img center"><img src="../static/assets/img/mingze.jpg" alt="Exodus" class="img-fluid"></div>
                                    <h6 class="text t-black">team核心成员</h6>
                                    <div class="name t-black">李 明 泽</div>
                                    <div class="role t-dark-clay">善于动手，技术强</div>
                                </div>
                            </div>

                            <!-- Testimonial Item -->
                            <div class="carousel-item"> 
                                <div class="item ">
                                    <div class="img center"><img src="../static/assets/img/yimai.jpg" alt="Exodus" class="img-fluid"></div>
                                    <h6 class="text t-black">team核心成员</h6>
                                    <div class="name t-black">王 一 迈</div>
                                    <div class="role t-dark-clay">拓展思维能力强，善于沟通，技术强</div>
                                </div>
                            </div>          

                            <!-- Testimonial Item -->
                            <div class="carousel-item"> 
                                <div class="item ">
                                    <div class="img center"><img src="../static/assets/img/hanlu.jpg" alt="Exodus" class="img-fluid"></div>
                                    <h6 class="text t-black">team核心成员</h6>
                                    <div class="name t-black">陈 寒 露</div>
                                    <div class="role t-dark-clay">接受新鲜事物快，学习能力强，技术强</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Section Ends --> 

        <!-- Footer 这里是注脚
            <footer>
                <div class="container">
                    <div class="links t-black">
                        <a>Explore</a>
                        <a>About</a>
                        <a>Promotions</a>
                        <a>Blog</a>
                        <a>Contact</a>
                    </div>
                    <div class="copyright t-grey center">2019 - All rights reserved to &copy;Exodus</div>
                </div>
            </footer>-->
        
        <!-- JS files upload -->
        <script src="../static/js/jquery-3.4.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/validator.min.js"></script>
        <script src="../static/js/contact.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/aos.js"></script>
        
    </body>
</html>