<!DOCTYPE html>
<html>
	<font size="64">
		<style type="text/css">
			.a {
				font-family: "microsoft yahei";
			}
		</style>	
		<font color="white">
		 	<h1 class="a"><p style="text-align:center;">这里是搜索结果</p>
		 	</h1>
	 	</font>
 	</font>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style>body{background-image: url("01300539153962137045223955332.jpg");background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-size: 100% auto;width:100%;height:1024px}
		</style>
 
	</head>
 	
	<style type="text/css">
		.mytable{

			width: 100px;
			height: 100px;
			margin: 0 auto;
		}
	</style>

	<body>
	<font size="64" color="black">
	 	<p style="text-align:center;">
	 		<table class="mytable" border="0">
				<tr>
				<th>姓名</th>
				<th>学校</th>
				<th>专业</th>
				</tr>
				<tr>
				<td><a href="person.html">教授1</a></td>
				<td>学校1</td>
				<td>专业1</td>
				</tr>
				<tr>
				<td>教授2</td>
				<td>学校2</td>
				<td>专业2</td>
				</tr>
				<tr>
				<td>。。。</td>
				<td>。。。</td>
				<td>。。。</td>
				</tr>		
			</table>
		</p>
	</font>
	</body>
 
</html>