<html>
<head>

<title>
这是网页的标题
</title>



<body>
	<style>body{background-image: url("20100330094316340.jpg");background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-size: 100% auto;width:100%;height:1024px}
	</style>
	<font size="8" face="Verdana">
		<p align="right"> <a href="login_v1.html">登录</a> <a href="register.html">注册 </a></p>
	</font>
	<div style="text-align:center;vertical-align:middle;">
		<form action="form_action.asp" method="get">
			<input type="radio" name="id" style="height:20px;width:20px;" checked value="专业"> 专业 
			<input type="radio" name="id" style="height:20px;width:20px;" value="学校"> 学校 
			<input type="radio" name="id" style="height:20px;width:20px;" value="姓名"> 姓名 
		</form>
	</div>
		<div style="text-align:center;vertical-align:middle;">
            <form action="Find_by_Major" method="get">
		        <input type="text"  name="major" style="height:60px;width:600px;"/>
	 	        <a href="search_v1.html"><input type="submit" style="height:60px;width:120px;" value="检索" style="font-size:80px" onclick="test()" /></a>
	        </form>
<p>
	<font size="8" face="Verdana">
		<div style="text-align:center;vertical-align:middle;" >高校学者发现系统</div>
	</font>
	<font size="8" face="Verdana">
		<div style="text-align:center;vertical-align:middle;" > no uzi</div>
	</font>
</p>
</body>
</html>
