<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人物简介</title>
</head>
<body bgcolor="#F0FFFF">
<body>

<table align="center">
    <tr>
        <td colspan="2">
            <div id="header">
                <p style="text-align:center;">
                    <h1>高校学者发现系统</h1>
                </p>
            </div>
        </td>
    </tr>
<tr>

    <td colspan="2">
        <p align="left">
            <h2>{{name}}</h2>
            <img src="Gao.jpg" alt="照片" width="150px" height="200px" >
        </p>
    </td>   
</tr>
<div class="center">
<td>
<tr>
    <td colspan="2"bgcolor="#87cefa">
        <p>国籍</p>
    </td>
</tr>

    <tr>
        <td colspan="1">
     <p>{{country}}</p>

        </td>
    </tr>
<tr>
    <tr>
    <td colspan="2"bgcolor="#87cefa">
        <p>院校</p>
    </td>
</tr>

    <tr>
        <td colspan="1">
     <p>{{university}}</p>

        </td>
    </tr>
<tr>
    <tr>
    <td colspan="2"bgcolor="#87cefa">
        <p>荣誉</p>
    </td>
</tr>

    <tr>
        <td colspan="1">
     <p>{{awards}}</p>

        </td>
    </tr>
<tr>
<tr>
    <td colspan="2"bgcolor="#87cefa">
        <p>专业领域</p>
    </td>
</tr>

    <tr>
        <td colspan="1">
     <p>{{majors}}</p>

        </td>
    </tr>
<tr>
    <td colspan="2"bgcolor="#87cefa">
        <p>教授简介</p>
    </td>
</tr>

    <tr>
        <td colspan="1">
     <p>{{info}}</p>
         
        </td>
    </tr>

    <tr>
        <td colspan="2" bgcolor="#87cefa">
            <p>论文发表</p>
        </td>
    </tr>

    <tr>
        <td colspan="2">
       <p>{{papers}}</p>
        </td>
    </tr>
        <tr>
        <td colspan="2" bgcolor="#87cefa">
            <p>合作学者</p>
        </td>
    </tr>

    <tr>
        <td colspan="2">
       <p>{{friends}}</p>
        </td>
    </tr>
   

    
            </table>
        </td>
    </tr>

</table>

</body>
</html>

<style>
#header{
    background-color:CornFlowerBlue;
    color:white;
    text-align:center;
    padding:20px;
}
</style>