<html>

<body>

<div id="header">

<h1>高校学者发现系统</h1>

</div>

<center>

<table height = "60px">

<tr> </tr>

</table>

<table width = "535px" height = "300px" border = "0px" background = "bgd.jpg">

<tr><td width = "230px" rowspan = "3"> </td><td> </td></tr>

<tr><td>

<table width = "100%" height = "100%" border = "0px">

<div id="section">
    <form action="Register" method="get">

        <tr><td>账  号：</td><td><input type = "text" name = "nickname"/></td></tr>


        <tr><td>密  码：</td><td><input type = "password" name = "password"></td></tr>


        <tr><td>确认密码：</td><td><input type = "password" name = "password_con"></td></tr>


        <tr><td colspan = "2"><input type = "submit" value = "注册"><tr><td colspan = "2">
    </form>
</div>


<div id="section">

<a href = "#">找回密码</a>　　　

</div>




<!DOCTYPE HTML>
<html>

<body>

<p>
<img src="p1.jpg" width="300" height="170" />
</p>

</body>
</html>

<html>

<body background="p2.jpg">

</body>
</html>

</td></tr>

</table>

</td></tr>

<tr><td> </td></tr>

</table>

</center>

</body>

</html>

<style>
#header {
    background-color:pink;
    color:white;
    text-align:center;
    padding:10px;
}
#section {
    width:350px;
    text-align:center;
    padding:10px; 
}
</style>